body {
  font-family: 'Roboto Slab', serif;
}

label {
  width:50%;
}

select {
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  font-size: 15px;
   z-index: 10;
}
input{
background-color: rgb(248, 248, 248);
border-width: 1px;
border-style: solid;
border-color: rgb(166, 166, 166);
border-image: initial;
font-size: 15px;
z-index: 10;
border-radius: 3px;
width: 130px;
}
.main-container{

    width: 100%;

    background-image: url(images/city-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.total_score_container{
  position:relative;
  background: rgba(255, 0, 0, 0.8);
  bottom: 0;
  text-align: center;
  width: 100%;
  display:none;
}


.scores_Explanation_Btn{
  text-align: center;
  width: 100%;
  display:none;
}


.aggregated_Score {
  padding: 2%;
}

#form-submit {
  border-radius: 0px;
	padding: 0px;
	line-height: 10px;
	font-size: 20px;
	text-transform: uppercase;
	top: 20px;
	padding: 20px 20px 20px 20px;
	transition: all .5s ease-out;
  color:white;
  background-color:#212F4F;
  width:30%;
}

#formify-research-city{
  margin-top: 10px;
  display:inline-block;
  box-shadow:0px 10px 10px 10px rgba(0,0,0,0.1);
  position:relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      margin-bottom: 0;
}

.industry_selector{
display: block;
margin: auto;
width: 50%;
font-size: 17px;
 padding: 10px 8px 10px 14px;
 background: #fff;
 border: 1px solid #ccc;
 border-radius: 6px;
}
.scores_container{

display:none;
/* background-color:#FB6970; */
}


.score_titles{
  text-align: center;
}
.scores_ul{
  display:none;
}
.form-container{
display: block;
text-align: center;
width: 100%;
margin-top: 50px;
}

.expla_Button{
  display:none;
}
.scores_Explanation_Btn{
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
}

.county_div{
  width: 350px;
    padding: 5px;
    margin: auto;
}
.state_div {
  width: 350px;
  padding: 10px;
  margin: auto;
}



/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal_loading {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }


/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content_loading {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* ****  MEDIA QUERIES **** */
@media only screen and (max-width: 700px) {
  #formify-research-city {
    width:400px;
  }
}

@media only screen and (min-width:700px) and (max-width: 1200px) {
  #formify-research-city {
    width:650px;
  }

}

@media only screen and (min-width:1200px) {
  #formify-research-city {
    width:850px;
  }

}
